* {
  list-style: none !important;
}
.box {
  height: 300px;
  width: 300px;
  border: 2px solid white;
  background-color: gray;
}
.text_def {
  font-size: 15px;
}
.Input_common {
  width: 50%;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgba(54, 50, 50, 0.444);
  color: white;
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.transition400 {
  transition: all 400ms ease-in-out;
}
.errVibe {
  animation: err 0.01s linear 0s infinite alternate-reverse;
  background-color: red !important;
}

@keyframes err {
  0% {
    transform: translate(-2px, 1px);
  }

  100% {
    transform: translate(2px, -1px);
  }
}
.inputmain {
  width: 100%;
  padding: 16px;
  border: 2px solid black;
  margin: 16px 0px;
}
.box_user {
  border: 2px solid black;
}
.username {
  font-style: 24px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #000000;
  color: white;
}

tr:nth-child(odd) {
  background-color: #000000d1;
  color: white;
}

/*  */
.nav_mobile {
  position: absolute;
  width: 100%;
  transition: 300ms ease-in-out;
  height: 100%;
  top: -100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.544);
}
.nav_mobile_show {
  position: absolute;
  width: 100%;
  transition: 500ms ease-in-out;
  height: 100%;
  top: 0;
  left: 0;
}
.ShowSidebar {
  position: absolute;
  left: 0%;
  transition: all 300ms ease-in-out;
}

.Sidebar_mobile {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  transition: all 300ms ease-in-out;
}
.ShowSidebar {
  position: absolute;
  left: 0%;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
}

@media (min-width: 991px) {
  .Sidebar_mobile {
    position: absolute;
    width: 50%;
    height: 100%;
    left: -100%;
    transition: all 300ms ease-in-out;
  }
  .ShowSidebar {
    position: absolute;
    left: 0%;
    width: 50%;
    transition: all 300ms ease-in-out;
  }
}
@media (min-width: 991px) {
  .sidebar {
    position: static;
    width: 30%;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .nav_mobile {
    position: static;
    background-color: transparent;
  }

  .sidebar {
    width: 20%;
    height: 100%;
  }
}
